<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>You Monster!</title>
    </head>
    <body>
        <h1>They're Dead.... All of them... You killed them...</h1>
        <a href='/'> Start over?</a>

    </body>
</html>
