<html>
    <head>
        
        <title>Welcome to Elec Pet</title>
    </head>
    <body>
        <h1>Adopt another Digital Creature</h1>

        <form action="/pet_list" method="post">
            <label for="nameInput"> Name your Critter</label>
            <input id="nameInput" name="nameInput" type="text">

            <button type="submit"> Create Life! </button>
        </form>

        <h2><a href="/pet_list">View your current horde</a></h2>


    </body>
</html>
