
<html>
    <head>
        <meta charset="utf-8">
        <title>Digital Zoo</title>
    </head>
    <body>

        <h1>Welcome {{newPet.getName}} to Your Horde</h1>
        <a href="/horde"> View your horde</a>

    </body>
</html>
